/* scale and fade */

.bt-menu-scaleDown {
	animation: scaleDown .7s ease both;
}

.bt-menu-scaleUp {
	animation: scaleUp .7s ease both;
}

.bt-menu-scaleUpDown {
	animation: scaleUpDown .5s ease both;
}

.bt-menu-scaleDownUp {
	animation: scaleDownUp .5s ease both;
}

.bt-menu-scaleDownCenter {
	animation: scaleDownCenter .4s ease-in both;
}

.bt-menu-scaleUpCenter {
	animation: scaleUpCenter .4s ease-out both;
}

/************ keyframes ************/

/* scale and fade */

@keyframes scaleDown {
	to { opacity: 0; transform: scale(.8); }
}

@keyframes scaleUp {
	from { opacity: 0; transform: scale(.8); }
}

@keyframes scaleUpDown {
	from { opacity: 0; transform: scale(1.2); }
}

@keyframes scaleDownUp {
	to { opacity: 0; transform: scale(1.2); }
}

@keyframes scaleDownCenter {
	to { opacity: 0; transform: scale(.7); }
}

@keyframes scaleUpCenter {
	from { opacity: 0; transform: scale(.7); }
}