*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body  {
	background-image: url('img/background.jpg');
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1248px;
    padding-left: 24px;
    padding-right: 24px;
	background-color: #FFF;}

.footer-container {position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1248px;
    padding-left: 24px;
    padding-right: 24px;}

#wrapper {
}

.bt-menu {
	z-index: 10000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	border-width: 0px;
	border-style: solid;
	border-image-repeat: repeat;
    border-image-source: url(img/menu-border.png);
    border-image-repeat: repeat-y;
     border-image-repeat: stretch;    
    border-image-slice: 30;
	background-color: rgba(0,0,0,0);
	background-image: url('img/bg-menu.png');
	    background-repeat: no-repeat;

	-webkit-backface-visibility: hidden;
	-webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
	transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
}

.bt-menu.bt-menu-open {
	height: 100%;
	border-width: 0px 0px 50px 150px;
	background-color: rgba(0,0,0,0.3);
	-webkit-transition: border-width 0.3s, background-color 0.3s;
	transition: border-width 0.3s, background-color 0.3s;
}

.bt-overlay {
	position: absolute;
	width: 100%;
}

.bt-menu-open .bt-overlay {
	height: 100%;
}

.bt-menu-trigger {
	position: fixed;
	top: 10px;
	left: 20px;
	z-index: 10000;
	display: block;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.bt-menu-trigger span {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 100%;
	height: 8%;
	background-color: #fff;
	font-size: 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.bt-menu-trigger:hover{-webkit-filter: brightness(3.3) drop-shadow(9px 9px 20px black);
}



.bt-menu-trigger span:before,
.bt-menu-trigger span:after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(214, 214, 214, 0.3);
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.bt-menu-trigger span:before {
	-webkit-transform: translateY(-250%);
	transform: translateY(-250%);
		background: #rgba(38, 15, 128, 0.2);

}

.bt-menu-trigger span:after {
	-webkit-transform: translateY(250%);
	transform: translateY(250%);
	
}

.bt-menu-open .bt-menu-trigger span:before {
	-webkit-transform: translateY(-300%);
	transform: translateY(-300%);
	background: #rgba(38, 15, 128, 0.2);

}

.bt-menu-open .bt-menu-trigger span:after {
	-webkit-transform: translateY(300%);
	transform: translateY(300%);
}

.bt-menu ul {
	position: fixed;
	margin: 0;
	padding: 0;
	list-style: none;
}

.bt-menu ul:first-of-type {
	top: 75px;
	left: 0;
}

.bt-menu ul:nth-of-type(2) {
	right: 0;
	bottom: 0;
}

.bt-menu ul li,
.bt-menu ul li a {
	display: block;
}

.bt-menu ul:nth-of-type(2) li {
	float: left;
	font-size: 0px;
}

.bt-menu ul li {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
	transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
}

.bt-menu.bt-menu-open ul:first-of-type li,
.bt-menu.bt-menu-open ul:nth-of-type(2) li {
	visibility: visible;
	opacity: 1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s 0.1s;
	transition: transform 0.3s, opacity 0.3s;
}

/* First menu */
.bt-menu ul:first-of-type li {
	width: 150px;
	height: 50px;
	line-height: 50px;
	-webkit-transform: translate3d(-100%,50%,0);
	transform: translate3d(-100%,50%,0);
}

.bt-menu.bt-menu-open ul:first-of-type li {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
	
.bt-menu.bt-menu-open ul:first-of-type li:hover {
	background-color: rgba(13, 2, 18, 0.8);
	-webkit-filter: drop-shadow(7px 7px 20px black);

}

/* Second menu */
.bt-menu ul:nth-of-type(2) li {
	width: 60px;
	height: 50px;
	line-height: 50px;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:first-child { 
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(2) { 
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(3) { 
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(4) {
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.bt-menu ul li a {
	display: block;
	outline: none;
	text-decoration: none;
}

.bt-menu ul:first-of-type li a {
	padding: 0 20px;
	box-shadow: inset 0 1px rgba(0,0,0,0.2);
	color: #333;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1em;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.bt-menu ul:first-of-type li:last-child a {
	box-shadow: inset 0 1px rgba(0,0,0,0.2), inset 0 -1px rgba(0,0,0,0.2);
}

.bt-menu ul:nth-of-type(2) li a {
	color: transparent;
	text-align: center;
	font-size: 0px;
}

.bt-menu ul li a:before {
	color: #fff;
	font-size: 24px;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.bt-menu ul:first-of-type li a:hover,
.bt-menu ul:first-of-type li a:focus,
.bt-menu ul li a:hover:before,
.bt-menu ul li a:focus:before {
	color: #f8e1c4;
	-webkit-filter: brightness(3.3);

}

/*wetkit scrollbar*/


::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
  
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(210, 200, 249, 1);
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


.footer {
    padding: 56px 0 40px;
    background: #000;
    color: #fff;
    position: relative;
    border-width: 10px;
	border-image-repeat: repeat;
    border-image-source: url(img/border-image-footer.jpg);
	    border-style: solid;
	    -webkit-border-image: url(img/border-image-footer.jpg) 30 round; /* Safari 3.1-5 */
    -o-border-image: url(img/border-image-footer.jpg) 30 round; /* Opera 11-12.1 */
    border-image: url(img/border-image-footer.jpg) 30 round;
}

.footer a {
  color: #fff;
  max-height: 200px;
}



.footer-banner {
        overflow: hidden;
		text-align:center;
		background-color: #000;
		height: 200px;
		
     }
	
.footer-menu {
        overflow: hidden;
		text-align:center;
				background-color: #000;
				height: 100px;



     }

.footer-banner img:hover {
-webkit-filter: opacity(0.8);
	
}


.copyright {background-color: #000; margin-left: 5%;
}

#weibo {width: 50px;}

	
/*Responsive settings*/




@media screen and (max-width:480px){   
   .footer-banner img {max-width: 400px;     max-height: 250px;
} 
   .container {max-width: 90%;}
.footer-banner {height: 250px;} 

#contact {max-width: 300px;}

#weibo {width: 40px;}
}



@media screen and (max-width:360px){   
   .footer-banner img {max-width: 290px;} 

}




